# Port chay website
PORT=3000

# Cach 1: MongoDB local
# Can cai MongoDB Community Server tren may va dam bao MongoDB dang chay.
MONGODB_URI=mongodb://127.0.0.1:27017/ga_ran_chipchip

# Cach 2: MongoDB Atlas online
# Neu dung Atlas thi copy link connection string cua Atlas roi thay vao MONGODB_URI.
# Khong de username/password that trong file nay khi push len GitHub.
# MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/ga_ran_chipchip
